.weather {
    display: block;
    width: 400px;
    height: 200px;
    background-color: #e4e4e4;
}

.container {
    display: flex;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    transform: translateY(50%);
    justify-content: center;
    align-items: center;
}